name: Build

#on: [push, pull_request]

on:
  push:
    tags:
      - '*'

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15]

    steps:
      - uses: actions/checkout@v2

      - name: Build wheels
        uses: pypa/cibuildwheel@v1.11.1.post1
        # to supply options, put them in 'env', like:
        env:
          #CIBW_BEFORE_ALL_MACOS: brew install gcc
          CIBW_BEFORE_ALL_MACOS: bash scripts/build-wheels-macos.sh
          CIBW_BEFORE_BUILD: pip install numpy scipy cython
          CIBW_BUILD: cp36-*
          #cp37-* cp38-* cp39-*
          CIBW_SKIP: "*-win32 *-manylinux_i686 *aarch64 *ppc64le *s390x *universal2 *arm64"
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest --pyargs qmeq

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*.whl
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
